.page-main {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;

}

.left {
  display: none;
  background-color: $dark;
}

.right {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  color: black;
  padding: 60px 40px 230px 40px;

  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url("../img/flight.png");


  &__title {
    font-size: 24px;
    margin-bottom: 30px;
    color: $darken;
    text-transform: uppercase;
  }
  &__subtitle2 {
    font-size: 22px;
  }
  &__subtitle3 {
    font-size: 20px;
  }
}

.aviart24 {
  color: $lighten;
  font-weight: bold;
}

// .aviart {
//   font-family: Verdana, sans-serif;
//   font-weight: 100;
// }
//
// .num {
//   color: $lighten;
//   font-weight: bold;
// }





@media #{$tablet-widths} {



  .left {
    position: fixed;
    display: block;
    width: 50%;
    height: 100%;
    background-color: $dark;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;

    &--company {
      background-image: url("../img/img1.jpg");
    }

    &--services {
      background-image: url("../img/img3.jpg");
    }
    &--aviation {
      background-image: url("../img/img4.jpg");
    }
    &--fuel {
      background-image: url("../img/img1.jpg");
    }
    &--traffic {
      background-image: url("../img/img1.jpg");
    }
    &--airports {
      background-image: url("../img/img1.jpg");
    }
    &--green {
      background-image: url("../img/img1.jpg");
    }
    &--europe {
      background-image: url("../img/img5.jpg");

    }
    &--about {
      background-image: url("../img/img1.jpg");
    }
    &--news {
      background-image: url("../img/img1.jpg");
    }
  }



  .right {
    width: 50%;
    font-size: 14px;

    &__title {
      font-size: 22px;
    }
    &__subtitle2 {
      font-size: 18px;
    }
    &__subtitle3 {
      font-size: 16px;
    }
  }

}
@media #{$desktop-widths} {
  .right {
    font-size: 16px;
    min-height: 100vh;

    &__title {
      font-size: 28px;
      line-height: 30px;
    }
    &__subtitle2 {
      font-size: 22px;
    }
    &__subtitle3 {
      font-size: 20px;
    }
  }
}
