@keyframes bounce {
  0%   {  transform: translateY(-2000px); }
  70%  { transform: translateY(30px); }
  90%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}



@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
