$mobile-widths-only: '(max-width: 767px)';
$tablet-widths: '(min-width: 768px)';
$desktop-widths: '(min-width: 1200px)';



$dark: #01234c;
$darken: #014b60;
$medium: #4a91bb;
$lighten: #a6d0ef;
$light: #ffffff;

// http://color.romanuke.com/tsvetovaya-palitra-1302/
